.navigation-title, .navigation-title:hover {
    font-weight: 900;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    outline: none;
}

.comic-name {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: black;
}
.col-sm {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
  }
  .col-sm:hover {
    top: -10px;
  }